ion-navbar {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

ion-title {
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

ion-title p {
	color: #fff;
	font-size: 0.8em;
	font-family: monospace;
	position: absolute;
	top: 0;
	right: 0;
}

ion-card { 
	ion-card-header {
		font-size: 3rem;
		font-weight: 300;
	}
}
